<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Day : <%= @day.strftime("%A %d %b %y")-%> </h1>
    <table>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="index.scss">
  <title></title>
</head>
      <tr>
        <th> Time </th>
        <th> Event </th>
      </tr>

    </table>
  </body>
</html>
