
<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="index.scss">
  <title>show</title>
</head> -->
<body>
  <div class="container">
  <h1> Day : <%= @day.strftime("%B %e, %Y")%> </h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Time</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <% @events.each do |event| %>
            <tr>
            <td>  <%= event.name %> </td>
            <td>  <%= event.date_and_time.strftime("%l : %M %P") %> </td>
            <td>  <%= event.location %> </td>
            <%end %>
          </td>
      </tr>
    </tbody>
  </table>
</div>
</html>
