/* Add a black background color to the top navigation */
*{
  font-family: 'Lobster', cursive
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: orange;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: pik;
    color: white;
}

.Login a {
  float: right;
  text-align: right;
  color: Orange;

}

.container {
  background-color: #333;
color: orange;
font-family: 'Lobster', cursive;
}
body{
  border-color: #333;
}
h1 {
font-family: 'Lobster', cursive;

}

.well.controls {
background-color: #333;
}

div.row {
background-color: #333;
}

a.btn.btn-default {
background-color: #333;
color: orange;
}

i.glyphicon.glyphicon-backward {
color: grey;
}

i.glyphicon.glyphicon-forward {
color: grey;
}
th {
color: orange;
}

td {
background-color: grey;

}

td.not-month {

}

div.col-md-12 {
color: pink;
}
