/* Add a black background color to the top navigation */
*{
  font-family: arial,serif;
}

.topnav {
  text-align: center;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: orange;
    color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: orange;
    color: white;
}*/

.login {
  /*float: right;*/
  background-color: #333;
  text-align: center;
  color: Orange;

}
strong {
  color: orange;
  font-family: serif;
  /*float: right;*/
}

.container {
background-color: #333;
color: orange;
font-size: 20px;
}

#daleytasks {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.well.controls {
background-color: #333;
border-color: orange;
}

#dateyear {
  color: Orange;
  font-family: Arial, serif;
  font-weight: bold;
  display: inline-block;
  /*padding-left: 20px;
  padding-right: 20px;*/
}
/*div.row {
background-color: #333;
}*/

a.btn.btn-default {
background-color: orange;
color: #333;
padding-left: 10px;
padding-right: 10px;
border-radius: 8px;
border-color: #333;
border-width: 3px;
}

i.glyphicon.glyphicon-backward {
color: #333;

}

i.glyphicon.glyphicon-forward {
color: #333;
}

th {
color: Orange;
background-color: #333;
}

td {
background-color: #e0dfde;

}
a:link, a:visited {
    color:Orange;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: orange;
}

#datehighlight {
  background-color: purple;
}

td {
  background-color: #e0dfde;
}

#datetoday {
  font-family: Arial, serif;
  font-weight: bold;
  margin-left: 1px;
  margin-right: 5px;
  text-align: center;
  border-color: orange;
  border-width: 1px;
  border-style: double;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 10px;
}
