/* Add a black background color to the top navigation */
*{
  font-family: 'Lobster', cursive

}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: orange;
    color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: orange;
    color: white;
}*/

.Login a {
  float: right;
  text-align: center;
  color: Orange;

}
strong {
  color: orange;
  font-family: serif;
  float: right;
}

.container {
background-color: #333;
color: orange;
font-family: 'Lobster', cursive;
font-size: 20px;
}
#daleytasks {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

#dateyear{
  color: orange;
  font-family: 'Lobster', cursive;
  padding-left: 20px;
  padding-right: 20px;
}
.well.controls {
background-color: #333;
}

div.row {
background-color: #333;
}

a.btn.btn-default {
background-color: white;
color: orange;
}

i.glyphicon.glyphicon-backward {
color: orange;
}

i.glyphicon.glyphicon-forward {
color: orange;
}
th {
color: Orange;


}

td {
background-color: #e0dfde;

}

div.col-md-12 {
color: Black;
font-size: 20px;
}

a{
  background-color: black;
}
